.basic {
  @apply relative flex items-center;

  &.size {
    &__small svg {
      width: 12px;
      height: 12px;
    }
  
    &__medium svg {
      width: 14px;
      height: 14px;
    }
  
    &__large svg {
      width: 18px;
      height: 18px;
    }
  }
}